

.container {
    background-color: #fff;
    padding: 20px;
    width: 100%;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    box-sizing: border-box;
}

h1 {
    text-align: center;
    color: #444;
    margin-bottom: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    font-weight: bold;
    color: #555;
}

textarea, input[type="text"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #f9f9f9;
    color: #333;
    box-sizing: border-box;
}

textarea::placeholder, input::placeholder {
    color: #aaa;
}

button {
    width: 100%;
    padding: 10px;
    background-color: green;
    border: none;
    border-radius: 4px;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s;
    box-sizing: border-box;
}

button:hover {
    background-color: #555;
}

#resultContainer {
    margin-top: 20px;
    padding: 10px;
    background-color: #f0f0f0;
    border-radius: 4px;
    box-shadow: inset 0px 0px 4px rgba(0, 0, 0, 0.1);
}

#results {
    color: #333;
    min-height: 50px;
    white-space: pre-wrap; /* Keeps formatting of text, like line breaks */
}

#loader {
    display: inline-block;
    width: 50px;
    height: 50px;
    border: 3px solid #f3f3f3;
    border-top: 3px solid grey;
    border-radius: 50%;
    animation: spin 1s linear infinite;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10; /* Ensure the loader is on top of other elements */
}

.loading {
    filter: blur(0px);
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}
